DATABASE_URL=postgresql://postgres:Mohamed2006abdeelsalam@169.58.19.247:5432/postgres
DIRECT_URL=postgresql://postgres:Mohamed2006abdeelsalam@169.58.19.247:5432/postgres
UPLOADTHING_TOKEN='eyJhcGlLZXkiOiJza19saXZlX2MwNjhmMGIxY2YzNWZkZTcyMDAzMGQ2MDlmZGE4NDZmOWNkNDU3Y2EyYjQzNjZhYmE1YzAyZTQ2YTIxNGM0ZWQiLCJhcHBJZCI6Imhla3htczJvbm0iLCJyZWdpb25zIjpbInNlYTEiXX0='
R2_ACCOUNT_ID=bb963b14097f5c22d82fbe1e127384f9
R2_BUCKET=lms
R2_ACCESS_KEY_ID=cda294b2b771b72bbd6d8e5026b4f20a
R2_SECRET_ACCESS_KEY=bea8a0241982611f59f387801a37435bc623bd4632f6b5df50e421f1fc6d3be2
SMTP_CONNECTION_URL=smtps://sayedxiv%40gmail.com:ypvbctjpjdeyqndo@smtp.gmail.com:465